// SASS Code:
// 		Global Code & Layout Control

* {
  box-sizing: border-box;
}
body {
  font-family: $f-regular;
  line-height: 1.3;
}

.trigger--holder {
  @include size-push-full;
  @include flex-center-contents;  
  flex-direction: column;       
}

.error-bg {
	background-color: $c-error;
}