// UI Element: Popup

.popup--wrapper {
  @include size-push-full;
  @include flex-center-contents;    
  display: none;
  
  &::before { // Overlay
    @include size-push-full;
    content: "";
    background-color: $c-popup-overlay-bg;
    opacity: $m-popup-overlay-opacity;
    z-index: -1;
    transition: opacity $m-popup-overlay-timing linear;
  }

  &.active {
    display: flex;
    z-index: 100;
  }
}

.popup {
  &--box {
    background-color: #fff;
    border: 1px solid $c-border;
    padding: 1.875rem 1.56rem 1.56rem; 
    position: relative;
    border-radius: $m-border-radius;
    border-top: 0 none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -1px;
      right: -1px;
      height: 4px;
      background-color: #0076ae;
      background-image: $g-decor;
      border-top-left-radius: $m-border-radius;
      border-top-right-radius: $m-border-radius;
    }
  }
  &--header {
    margin-bottom: 2rem;
    
    h2 {
      color: #000;
      font-size: 1rem;
      line-height: 1.3;
      margin: 0 0 0.5em 0;
      padding: 0;
      font-family: $f-bold;
      font-weight: normal;

      + p {
        color: #444;
        font-size: 0.8rem;
        margin: 0;
        font-family: $f-regular;
      }
    }
  }
  &--actions {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
  }
  &--close {
    position: absolute;
    right: 0.6rem;
    top: 0.4rem;
    font-size: 1.7rem;
    line-height: 1;
    color: #5d5d5d;
    cursor: pointer;
    
    &:active {
      top: 0.45rem
    }
  }
}

.tag {
  line-height: 1.25rem;
  font-size: 0.625rem;
  display: inline-block;
  padding: 0 0.5rem;
  border-radius: $m-border-radius / 2;
  background-color: #ddd;
  vertical-align: top;
  margin-left: 0.7ex;

  &.error {
    background-color: $c-error;
    color: #fff;
  }
}

@media screen and (min-width: 40em) {
  .popup {
    &--actions { justify-content: flex-end }
    &--close {
      top: 1.7rem;
      right: 1.6rem;

      &:active { top: 1.75rem }
    }

    &--box {
      width: 95%;
      max-width: 680px;
    }
  }
}

// Animations
@keyframes anim-overlay-show {
  0% {
    opacity: 0;
    display: none;
  }

  1% {
    opacity: 0.01;
    display: block;
  }

  100% { opacity: $m-popup-overlay-opacity }
}

@keyframes anim-popup-show {
  0% {
    // this status until 15% generates the pause so the overlay gets rendered
    opacity: 0;
    display: none;
  }

  15% {
    opacity: 0.1;
    scale: 0.1;
    transform: translate(0,-1000vh);
    display: block;
  }

  60% {
    opacity: 1;
    transform: translate(0,0);
    scale: 0.1;
  }

  100% {
    scale: 1;
  }
}

.popup--wrapper {
  &.active {
    &::before {
      will-change: opacity;
      animation: anim-overlay-show $m-popup-overlay-timing both; 
    }

    .popup--box {
      will-change: all;
      animation: anim-popup-show $m-popup-overlay-timing * 2 ease-in-out; 
    }
  }
}



